* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-transform: uppercase;
}
body {
  background-color: rgb(168, 164, 164);
}
.content {
  margin-top: 70px;
  margin-left: 30px;
  font-family: "Edu SA Beginner";
  width: 200px;
  height: 180px;
}
.material-symbols-outlined {
  font-size: 2rem;
  color: rgb(2, 238, 255);
  border-right: 1px solid rgb(0, 0, 0);
  line-height: 1.2;
}
a {
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 1.5rem;
  margin-left: 20px;
  line-height: 1.2;
}
.home {
  width: 175px;
  height: 40px;
  background-color: rgb(66, 66, 66);
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  margin: 2px 0;
  cursor: pointer;
}
.home:hover {
  background-color: rgb(0, 250, 217);
}
.home:hover a,
.home:hover .material-symbols-outlined {
  color: black;
}
.home:active {
  background-color: rgb(0, 89, 255);
}
.home:active a,
.home:active .material-symbols-outlined {
  color: rgb(255, 255, 255);
}
.setting {
  width: 175px;
  height: 40px;
  background-color: rgb(66, 66, 66);
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  margin: 2px 0;
  cursor: pointer;
}
.setting:hover {
  background-color: rgb(0, 250, 217);
}
.setting:hover a,
.setting:hover .material-symbols-outlined {
  color: black;
}
.setting:active {
  background-color: rgb(0, 89, 255);
}
.setting:active a,
.setting:active .material-symbols-outlined {
  color: rgb(255, 255, 255);
}
.add {
  width: 175px;
  height: 40px;
  background-color: rgb(66, 66, 66);
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  margin: 2px 0;
  cursor: pointer;
}
.add:hover {
  background-color: rgb(0, 250, 217);
}
.add:hover a,
.add:hover .material-symbols-outlined {
  color: black;
}
.add:active {
  background-color: rgb(0, 89, 255);
}
.add:active a,
.add:active .material-symbols-outlined {
  color: white;
}
.contact {
  width: 175px;
  height: 40px;
  background-color: rgb(66, 66, 66);
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  margin: 2px 0;
  cursor: pointer;
}
.contact:hover {
  background-color: rgb(0, 250, 217);
}
.contact:hover a,
.contact:hover .material-symbols-outlined {
  color: black;
}
.contact:active a,
.contact:active .material-symbols-outlined {
  color: white;
}
.contact:active {
  background-color: rgb(0, 89, 255);
}
