* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}
body {
  background-image: linear-gradient(
    to top right,
    rgb(0, 162, 255),
    rgb(255, 145, 0)
  );
  height: 240vh;
}
h1 {
  width: 100%;
  height: 80px;
  background-color: rgba(47, 0, 255, 0.411);
  font-family: "kalam", cursive;
  font-size: 45px;
  text-align: center;
  position: fixed;
  top: 0;
  z-index: 1;
}
.sticky {
  position: sticky;
  top: 0;
  left: 40vw;
  width: 300px;
  height: 300px;
  border-radius: 40px;
  background: rgb(0, 0, 0);
  margin-top: 100px;
  padding-top: 120px;
  z-index: -1;
}
.relative {
  position: relative;
  left: 40vw;
  width: 300px;
  height: 300px;
  border-radius: 40px;
  background: rgb(170, 255, 0);
  margin-top: 150px;
  padding-top: 120px;
}
h2 {
  color: rgb(0, 0, 136);
  text-align: center;
  font-size: 30px;
}
p {
  color: rgb(22, 0, 83);
  font-size: 20px;
  text-align: justify;
  padding-right: 60%;
  margin-top: 100px;
  margin-left: 20px;
  display: inline-block;
}
.text {
  margin-top: 220px;
}
.absolute {
  position: absolute;
  left: 40vw;
  width: 300px;
  height: 300px;
  border-radius: 40px;
  background: rgb(255, 0, 43);
  margin-top: 100px;
  padding-top: 120px;
  display: inline-block;
}
.box {
  width: 100%;
  height: 600px;
  display: inline-block;
}
