/* start */

* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}
.background-layer {
  background: linear-gradient(
    rgba(0, 0, 0, 0.419),
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0.433)
  );
  height: 100vh;
  width: 100%;
}
.background-layer2 {
  height: 120vh;
}
.blur {
  backdrop-filter: blur(6px);
  height: 100vh;
  width: 100%;
}
.blur2 {
  height: 120vh;
}
.blur3 {
  backdrop-filter: blur(10px);
}

/* header start */

.header {
  background: url(../image/wp3614516-star-wars-4k-wallpapers.jpg);
  height: 100vh;
  background-position: center;
  background-size: cover;
}
.head {
  background: url(../image/wp3614516-star-wars-4k-wallpapers.jpg);
  height: 80vh;
  width: 80%;
  background-position: center;
  background-size: cover;
  margin: 0 auto;
  border-radius: 20px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.863);
}

/* navigationbar start */

b {
  color: white;
  font-family: "kalam", cursive;
  letter-spacing: 2px;
}
hr {
  width: 99%;
  margin: 0 auto;
}
.envelope {
  color: rgba(255, 255, 255, 0.911);
  padding-left: 50px;
  padding-right: 5px;
  margin-top: 10px;
  font-size: 20px;
  padding-bottom: 10px;
}
.phone {
  color: rgb(255, 255, 255);
  font-size: 17px;
  padding-left: 10px;
  padding-right: 2px;
}
.number {
  font-size: 16px;
  display: inline;
  font-family: "Edu SA Beginner", cursive;
  color: white;
}
.twitter {
  color: white;
  text-decoration: none;
  margin-left: 600px;
}
.social-media {
  color: white;
  text-decoration: none;
  margin-left: 6px;
}
.social-media:hover,
.twitter:hover {
  color: gray;
}
.link {
  padding-top: 12px;
  width: 100%;
  height: 6vh;
  background-color: rgba(0, 0, 0, 0.322);
}
.navbar {
  text-decoration: none;
  color: rgb(255, 255, 255);
  margin-left: 100px;
  margin-top: 20px;
}
.navbar:hover {
  color: rgb(255, 217, 0);
  text-shadow: 0 0 20px rgb(252, 252, 252);
  transition: 0.2s;
}
.link:hover {
  background-color: rgba(0, 0, 0, 0.671);
  border-radius: 10px;
  transition: 0.2s;
}
/* navigationbar end */
.star-wars {
  width: 12%;
  height: 15vh;
  margin-top: 15px;
  margin-left: 40px;
}
.title {
  font-size: 45px;
  font-family: "Dosis", sans-serif;
  padding-left: 35px;
  color: #ffffff;
}
.text {
  padding-left: 35px;
  text-align: justify;
  font-family: "kalam";
  color: #ffff57;
  display: inline-block;
  font-size: 14px;
}

/* header end */

/* section1 start */

.section1 {
  background-image: url(../image/wp3614506-star-wars-4k-wallpapers.jpg);
  height: 120vh;
  background-size: cover;
  background-position: top;
}
.movie {
  width: 52%;
  height: 108vh;
  background-image: url(../image/wp3614506-star-wars-4k-wallpapers.jpg);
  background-position: center;
  background-size: cover;
  margin: 0 auto;
  border-radius: 20px;
  box-shadow: 0 0 40px rgb(0, 0, 0);
}
.box {
  width: 100%;
  height: 33vh;
  padding-top: 20px;
  margin-bottom: 10px;
}
.box div {
  width: 11vw;
  height: 22vh;
  background-position: center;
  background-size: cover;
  border-radius: 20px;
  float: left;
  box-shadow: 0 0 30px rgb(0, 0, 0);
  transition: 1s;
}
.background-color {
  background-color: rgba(0, 0, 0, 0.548);
  border-radius: 20px;
  width: 11vw;
  height: 22vh;
}
.title-movie {
  font-size: 20px;
  text-align: center;
  font-family: "kalam", cursive;
  padding-top: 30px;
  color: rgb(255, 255, 255);
  cursor: default;
  transition: 1s;
}
.box div:hover {
  width: 12.4vw;
  height: 32vh;
  transition: 0.5s;
}
.box div:hover .title-movie {
  padding: 0 10px;
  padding-top: 30px;
}
.box div:hover .background-color {
  width: 12.4vw;
  height: 32vh;
  transition: 0.5s;
  background-color: rgba(250, 235, 215, 0);
}
.description {
  visibility: hidden;
  padding: 0 10px;
  font-size: 5px;
  cursor: default;
}
.box div:hover .description {
  font-size: 15px;
  font-family: "Edu SA Beginner", cursive;
  text-align: justify;
  padding: 2px 10px;
  transition: 0.8s;
  color: #00bfff;
  visibility: visible;
}
.The-Empire-Strikes-Back {
  background-image: url(../image/1602843.jpg);
  margin-left: 60px;
}
.Return-of-the-Jedi {
  background-image: url(../image/wp5981459-star-wars-return-of-the-jedi-wallpapers.jpg);
  margin-left: 60px;
}
.The-Phantom-Menace {
  background-image: url(../image/1603121.jpg);
  margin-left: 60px;
}
.Attack-of-the-Clones {
  background-image: url(../image/1603169.jpg);
  margin-left: 60px;
}
.Revenge-of-the-Sith {
  background-image: url(../image/2120936.jpg);
  margin-left: 60px;
}
.The-Force-Awakens {
  background-image: url(../image/1603213.jpg);
  margin-left: 60px;
}
.Rogue-One {
  background-image: url(../image/1471005.jpg);
  margin-left: 60px;
}
.The-Last-Jedi {
  background-image: url(../image/150193.jpg);
  margin-left: 60px;
}
.The-Rise-of-Skywalker {
  background-image: url(../image/2187612.png);
  margin-left: 60px;
}

/* section1 end */

/* section2 start */

.section2 {
  background: url(../image/3555525.jpg);
  height: 100vh;
  background-position: center;
  background-size: cover;
}
.border {
  margin: 0 auto;
  height: 100vh;
  width: 40%;
  border-left: 2px solid white;
  border-right: 2px solid white;
}
.section2-title {
  text-align: center;
  font-size: 45px;
  font-family: "Dosis", sans-serif;
  color: rgb(255, 255, 255);
  padding-top: 20px;
}
.story {
  visibility: hidden;
  padding: 0 30px;
  padding-top: 5px;
}
.border:hover {
  background-image: linear-gradient(to top, #00aeff0c, #000000);
}
.border:hover .story {
  text-align: justify;
  padding: 0 30px;
  padding-top: 80px;
  font-family: "kalam", cursive;
  font-size: 16px;
  color: #16a2ff;
  line-height: 1.3;
  visibility: visible;
  transition: 1s;
  cursor: default;
}

/* section2 end */

/* section3 start */

.section3 {
  height: 100vh;
  background-image: url(../image/777236.jpg);
  background-size: cover;
  background-position: center;
}
.container {
  padding-top: 60px;
}
.section3-box {
  margin: 0 auto;
  width: 80%;
  height: 80vh;
  background-image: url(../image/777236.jpg);
  background-position: center;
  background-size: cover;
  padding-top: 20px;
  border: 5px solid white;
}
.section3-box:hover {
  box-shadow: 0 0 20px black;
}
.box-title {
  text-align: center;
  font-size: 30px;
  color: rgb(0, 0, 0);
  font-family: "Dosis", sans-serif;
  padding-bottom: 40px;
  text-shadow: 2px 3px 5px #000000;
}
.frame {
  width: 50px;
  height: 400px;
  background-size: cover;
  border-radius: 30px;
  cursor: default;
  margin-left: 100px;
  float: left;
  transition: 2s;
}
.frame:hover {
  width: 250px;
  height: 400px;
  transition: 2s;
  margin-left: 20px;
}
.profile {
  width: 49px;
  height: 49px;
  border-radius: 50%;
  background-image: url(../image/1692187715787.jpg);
  background-position: center;
  background-size: cover;
  border: 4px solid #ffffffee;
  margin-left: auto;
  margin-right: auto;
  transition: 2s;
}
.frame:hover .profile {
  background-position: center;
  background-size: cover;
  transition: 2s;
  width: 85px;
  height: 85px;
}
.baby-yoda:hover .profile {
  background-image: url(../image/1692012255096.jpg);
}
.section3-title,
.section3-text {
  visibility: hidden;
  text-align: center;
  font-size: 5px;
}
.section3-title {
  color: rgb(0, 255, 166);
  transition: 2s;
  font-family: "Dancing Script", cursive;
}
.frame:hover .section3-title {
  visibility: visible;
  font-size: 36px;
  padding-top: 10px;
  color: rgb(0, 255, 166);
  text-align: center;
  transition: 2s;
  font-family: "Dancing Script", cursive;
}
.frame:hover .section3-text {
  visibility: visible;
  font-size: 14px;
  color: rgb(217, 255, 0);
  text-align: justify;
  transition: 2s;
  padding: 0 20px;
  padding-top: 30px;
  font-family: "Edu SA Beginner";
}
.linear-Gradient {
  margin-left: auto;
  margin-right: auto;
  width: 50px;
  height: 400px;
  border-radius: 30px;
  transition: 1s;
}
.frame:hover .linear-Gradient {
  width: 250px;
  height: 400px;
  transition: 2s;
}
.baby-yoda:hover .linear-Gradient {
  background-image: linear-gradient(
    to top,
    rgba(0, 255, 106, 0.301),
    rgba(255, 255, 255, 0)
  );
}
.baby-yoda {
  background-image: url(../image/1692004558532.jpg);
  background-position: center;
}
.mandalorian {
  background-image: url(../image/1982648.jpg);
  background-position: center;
}
.mandalorian:hover .mandalorian-profile {
  background-image: url(../image/7.jpg);
}
.mandalorian:hover .red {
  background-image: linear-gradient(
    to top,
    rgba(255, 0, 0, 0.384),
    rgba(255, 255, 255, 0)
  );
}
.luke {
  background-image: url(../image/888754.jpg);
  background-position: center;
}
.luke:hover .luke-profile {
  background-image: url(../image/7631677.jpg);
}
.luke-profile,
.BB-8-profile {
  background-image: url(../image/Jedi\ logo.jpg);
}
.luke:hover .blue {
  background-image: linear-gradient(
    to top,
    rgba(0, 162, 255, 0.384),
    rgba(255, 255, 255, 0)
  );
}
.BB-8 {
  background-image: url(../image/1.jpg);
  background-position: right;
}
.BB-8:hover .BB-8-profile {
  background-image: url(../image/pxfuel2.jpg);
}
.BB-8:hover .white {
  background-image: linear-gradient(to top, #ffffff54, rgba(255, 255, 255, 0));
}
.Darth-Vader {
  background-image: url(../image/wallpaperflare.com_wallpaper5.jpg);
  background-position: center;
}
.Darth-Vader-profile,
.Captain-Phasma-profile {
  background-image: url(../image/download\ .jpg);
}
.Darth-Vader:hover .Darth-Vader-profile {
  background-image: url(../image/wallpaperflare.com_wallpaper\ 3.jpg);
}
.Darth-Vader:hover .red {
  background-image: linear-gradient(
    to top,
    rgba(255, 0, 0, 0.384),
    rgba(255, 255, 255, 0)
  );
}
.Captain-Phasma {
  background-image: url(../image/5688325.jpg);
  background-position: center;
}
.Captain-Phasma:hover .Captain-Phasma-profile {
  background-image: url(../image/3.jpg);
}
.Captain-Phasma:hover .red {
  background-image: linear-gradient(
    to top,
    rgba(255, 0, 0, 0.384),
    rgba(255, 255, 255, 0)
  );
}

/* section3 end */

/* footer start */

footer {
  background-image: url(../image/footer.jpg);
  background-size: cover;
  height: 70vh;
}
footer .footer-background {
  background-color: rgba(0, 0, 0, 0.801);
  height: 70vh;
  padding: 50px 300px 0px 300px;
}
.footer-background a {
  margin-left: 300px;
}
.footer-background a i {
  margin-right: 10px;
  background-color: rgb(44, 41, 41);
  padding: 15px;
  border-radius: 50%;
}
.footer-background hr {
  margin: 20px 0px 20px 0px;
  border-color: gray;
}
.footer-background table {
  width: 100%;
  height: 60%;
  text-align: left;
  border-spacing: 10px;
}
.footer-background th {
  color: white;
  padding-right: 60px;
  font-family: "Great Vibes";
}
.footer-background td {
  color: rgb(111, 106, 106);
  padding-right: 20px;
  font-family: "Edu SA Beginner";
}
.footer-background p {
  text-align: center;
  color: white;
}
pre {
  font-family: sans-serif;
}

/* footer end */
/* end */
