* {
  margin: 0;
  padding: 0;
}
.box {
  background-image: url(../image/25563.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100%;
}
.box2 {
  backdrop-filter: blur(5px);
  width: 100%;
  height: 100vh;
  text-align: center;
}
.box2 h1 {
  font-size: 90px;
  color: white;
  padding-top: 120px;
}
.box2 p {
  font-size: 30px;
  color: white;
  padding-top: 20px;
}
.box2 .button {
  margin: 0 auto;
  margin-top: 80px;
  width: 120px;
  height: 30px;
  border: 2px solid black;
  background-color: white;
}
.button a {
  text-decoration: none;
  color: black;
  font-size: 20px;
}
