* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}
.background {
  background-image: url(../image/free-fire-2020-x-money-heist-mjfaji8g7nis6bvg.jpg);
  height: 100vh;
  width: 100%;
  background-position: center;
  background-size: cover;
  padding-top: 50px;
  background-attachment: fixed;
}
.box {
  border: 3px solid rgb(34, 33, 66);
  height: 420px;
  width: 330px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 15px;
  background-color: rgb(11, 26, 99, 0.6);
}
.box {
  backdrop-filter: blur(5px);
}
h1 {
  text-align: center;
  color: white;
  padding-top: 52px;
  padding-bottom: 20px;
  font-family: serif;
  font-size: 35px;
}
p {
  padding-left: 12px;
  padding-right: 5px;
  color: white;
  font-family: serif;
  font-size: 16.2px;
  margin-bottom: 10px;
}

.link,
.arnold {
  text-decoration: none;
  background-color: black;
  text-align: center;
  font-size: 25px;
  padding-top: 5px;
  font-family: "Times New Roman", Times, serif;
  height: 40px;
  width: 100%;
  color: white;
  border-bottom-right-radius: 13px;
  border-bottom-left-radius: 15px;
}
.box2 {
  background-image: url(../image/pxfuel.jpg);
  background-position: center;
  height: 100vh;
  background-size: contain;
  background-repeat: repeat;
  background-attachment: fixed;
}
.background-image {
  background-image: url(../image/pxfuel2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  margin: auto;
  width: 450px;
}
.biography {
  border-right: 2px white solid;
  border-left: 2px white solid;
  height: 100vh;
  width: 100%;
  background-image: linear-gradient(
    to top,
    rgba(153, 1, 1, 0.5),
    rgb(0, 0, 0, 0.5)
  );
}
h2 {
  font-size: 30px;
  padding-top: 34px;
  text-align: center;
  color: white;
  padding-bottom: 130px;
}
.text {
  color: white;
  font-size: 18px;
  padding-left: 10px;
  padding-right: 5px;
}
.social-media {
  width: 100%;
  height: 37px;
  margin-bottom: 5.8px;
  text-align: center;
}
img {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  text-align: center;
  margin-right: 3px;
  text-decoration: none;
}
