* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
}
.box {
  background: linear-gradient(rgb(252, 252, 252), rgb(0, 235, 243));
  height: 100%;
}
.box-2 {
  width: 700px;
  height: 100%;
  margin: 0 auto;
  background-image: url(../image/back-ocean.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-size: cover;
}
.box-3 {
  width: 300px;
  height: 100%;
  text-align: center;
  margin: 0 auto;
  padding-top: 10px;
  backdrop-filter: blur(10px);
  border-left: 2px solid white;
  border-right: 2px solid white;
}

.box-4 {
  height: 250px;
  width: 286px;
  background-image: url(../image/ocean.jpg);
  background-size: cover;
  margin: auto;
}
h2 {
  margin-top: 10px;
  color: white;
  font-size: 40px;
}
p {
  margin-top: 10px;
  color: white;
  text-align: justify;
  padding: 0px 10px 0px 10px;
}
