* {
  margin: 0%;
  padding: 0%;
}
body {
  background-image: url(../image/53931\ .jpg);
  width: 100%;
  height: 100vh;
  background-position: center;
  background-size: cover;
}
h1 {
  font-size: 63px;
  color: white;
  margin-left: 450px;
  padding-top: 100px;
  font-family: cursive;
}
p {
  font-size: 40px;
  padding-top: 50px;
  text-align: center;
  margin-bottom: 100px;
}
a {
  text-decoration: none;
  text-align: center;
  border: 2px solid white;
  background-image: linear-gradient(to top, yellow, rgb(255, 72, 0));
  border-radius: 10px;
  color: black;
  padding: 5px 35px;
  font-size: 21px;
  margin-left: 580px;
  font-family: Arial, Helvetica, sans-serif;
}
