* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}
body {
  background-image: url(../image/6725589.jpg);
  height: 100vh;
  background-size: cover;
  background-position: center;
  backdrop-filter: blur(5px);
}
.ubisuft {
  padding-top: 100px;
}
.box {
  width: 50%;
  height: 60vh;
  margin: 0 auto;
  background-image: url(../image/6725589.jpg);
  background-size: cover;
  background-position: center;
  border-radius: 30px;
}
.box2 {
  display: inline-block;
  width: 20%;
  height: 40vh;
  background-image: url(../image/wp12200517-assassins-creed-valhalla-4k-pc-wallpapers.jpg);
  background-size: cover;
  background-position: center;
  border-radius: 50px;
  z-index: -1;
  position: absolute;
  bottom: 120px;
  left: 130px;
}
.box3 {
  display: inline-block;
  width: 20%;
  height: 40vh;
  background-image: url(../image/424245.jpg);
  background-size: cover;
  background-position: center;
  border-radius: 50px;
  z-index: -1;
  position: absolute;
  bottom: 120px;
  right: 130px;
}
.black {
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.521),
    rgba(255, 255, 255, 0)
  );
  width: 100%;
  height: 40vh;
  border-radius: 50px;
  z-index: -1;
}
