* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}
.box1 i {
  display: block;
  background-color: rgb(54, 54, 54);
  width: 50px;
  height: 50px;
  color: white;
  text-align: center;
  line-height: 3;
  margin-left: 5px;
  cursor: pointer;
}
.box2 i {
  width: 271px;
  height: 40px;
  text-align: center;
  color: white;
  background-color: rgb(54, 54, 54);
  cursor: pointer;
  margin-left: 0%;
  line-height: 2.3;
  float: left;
  margin-top: 100px;
}
.box2 {
  margin-left: 5px;
}
i:hover {
  background-color: rgb(0, 36, 77);
}
