* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
  cursor: default;
}
.background {
  background: url(../image/wp3614516-star-wars-4k-wallpapers.jpg);
  height: 100vh;
  background-position: center;
  background-size: cover;
}
#in-page-channel-node-id {
  width: 0px;
  height: 0px;
}
.blur {
  backdrop-filter: blur(6px);
  height: 100vh;
  width: 100%;
}
.blur2 {
  backdrop-filter: blur(6px);
  height: 115vh;
  width: 100%;
}
.header {
  background: url(../image/wp3614516-star-wars-4k-wallpapers.jpg);
  height: 80vh;
  width: 80%;
  background-position: center;
  background-size: cover;
  margin: 0 auto;
  border-radius: 20px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.863);
}
b {
  color: white;
  font-family: "kalam", cursive;
  letter-spacing: 2px;
}
hr {
  width: 99%;
  margin: 0 auto;
}
#envelope {
  color: rgba(255, 255, 255, 0.911);
  padding-left: 50px;
  padding-right: 5px;
  margin-top: 10px;
  font-size: 20px;
  padding-bottom: 10px;
}
#phone {
  color: rgb(255, 255, 255);
  font-size: 17px;
  padding-left: 10px;
  padding-right: 2px;
}
.number {
  font-size: 16px;
  display: inline;
  font-family: "Edu SA Beginner", cursive;
  color: white;
}
#twitter {
  color: white;
  text-decoration: none;
  margin-left: 600px;
}
#social-media {
  color: white;
  text-decoration: none;
  margin-left: 6px;
}
#social-media:hover {
  color: gray;
}
#twitter:hover {
  color: gray;
}
.star-wars {
  width: 130px;
  height: 105px;
  margin-top: 15px;
  margin-left: 40px;
}
.link {
  padding-top: 12px;
  width: 100%;
  height: 40px;
  background-color: rgba(0, 0, 0, 0.322);
}
.navbar {
  text-decoration: none;
  color: rgb(255, 255, 255);
  margin-left: 100px;
  margin-top: 20px;
}
.navbar:hover {
  color: rgb(255, 217, 0);
  text-shadow: 0 0 20px rgb(252, 252, 252);
  transition: 0.2s;
}
.link:hover {
  background-color: rgba(0, 0, 0, 0.671);
  border-radius: 10px;
  transition: 0.2s;
}
.title {
  font-size: 45px;
  font-family: "Dosis", sans-serif;
  padding-left: 35px;
  color: rgb(255, 255, 255);
}
.text {
  padding-left: 35px;
  text-align: justify;
  font-family: "kalam";
  color: #ffff57;
  display: inline-block;
  font-size: 14px;
}
.section1 {
  background-image: url(../image/wp3614506-star-wars-4k-wallpapers.jpg);
  height: 115vh;
  background-size: cover;
  background-position: top;
}
.movie {
  width: 52%;
  height: 108vh;
  background-image: url(../image/wp3614506-star-wars-4k-wallpapers.jpg);
  background-position: center;
  background-size: cover;
  margin: 0 auto;
  border-radius: 20px;
  box-shadow: 0 0 40px rgb(0, 0, 0);
}
.The-Empire-Strikes-Back {
  width: 150px;
  height: 150px;
  background-image: url(../image/1602843.jpg);
  background-position: top;
  background-size: cover;
  border-radius: 20px;
  margin-left: 60px;
  float: left;
  box-shadow: 0 0 30px rgb(0, 0, 0);
}
.background-color {
  background-image: linear-gradient(to bottom, #00000031, #0000003b);
  border-radius: 20px;
  width: 150px;
  height: 150px;
}
.title-movie {
  font-size: 20px;
  text-align: center;
  font-family: "kalam", cursive;
  padding-top: 30px;
  color: rgb(255, 255, 255);
}
.The-Empire-Strikes-Back:hover {
  height: 230px;
  width: 170px;
  transition: 0.5s;
}
.The-Empire-Strikes-Back:hover .title-movie {
  padding: 0 10px;
  padding-top: 30px;
}
.The-Empire-Strikes-Back:hover .background-color {
  width: 170px;
  height: 230px;
  transition: 0.5s;
}
.description {
  font-size: 0%;
}
.The-Empire-Strikes-Back:hover .description {
  font-size: 15px;
  font-family: "Edu SA Beginner", cursive;
  text-align: justify;
  padding: 2px 10px;
  transition: 0.7s;
  color: #00bfff;
}
.Return-of-the-Jedi {
  width: 150px;
  height: 150px;
  background-image: url(../image/wp5981459-star-wars-return-of-the-jedi-wallpapers.jpg);
  background-position: center;
  background-size: cover;
  border-radius: 20px;
  margin-left: 60px;
  float: left;
  box-shadow: 0 0 30px rgb(0, 0, 0);
}
.Return-of-the-Jedi:hover {
  height: 230px;
  width: 170px;
  transition: 0.5s;
}
.Return-of-the-Jedi:hover .title-movie {
  padding: 0 10px;
  padding-top: 30px;
}
.Return-of-the-Jedi:hover .background-color {
  width: 170px;
  height: 230px;
  transition: 0.5s;
}
.Return-of-the-Jedi:hover .description {
  font-size: 15px;
  font-family: "Edu SA Beginner", cursive;
  text-align: justify;
  padding: 2px 10px;
  transition: 0.7s;
  color: #00bfff;
}
.The-Phantom-Menace {
  display: inline-block;
  width: 150px;
  height: 150px;
  background-image: url(../image/1603121.jpg);
  background-position: center;
  background-size: cover;
  border-radius: 20px;
  margin-left: 60px;
  float: left;
  box-shadow: 0 0 30px rgb(0, 0, 0);
}
.The-Phantom-Menace:hover {
  height: 230px;
  width: 170px;
  transition: 0.5s;
}
.The-Phantom-Menace:hover .title-movie {
  padding: 0 10px;
  padding-top: 30px;
}
.The-Phantom-Menace:hover .background-color {
  width: 170px;
  height: 230px;
  transition: 0.5s;
}
.The-Phantom-Menace:hover .description {
  font-size: 15px;
  font-family: "Edu SA Beginner", cursive;
  text-align: justify;
  padding: 2px 10px;
  transition: 0.7s;
  color: #00bfff;
}
.box {
  width: 100%;
  height: 240px;
  padding-top: 20px;
}
.box2 {
  width: 100%;
  height: 240px;
  padding-top: 20px;
  margin-bottom: 20px;
}
.Attack-of-the-Clones {
  display: inline-block;
  width: 150px;
  height: 150px;
  background-image: url(../image/1603169.jpg);
  background-position: center;
  background-size: cover;
  border-radius: 20px;
  margin-left: 60px;
  float: left;
  box-shadow: 0 0 30px rgb(0, 0, 0);
}
.Attack-of-the-Clones:hover {
  height: 230px;
  width: 170px;
  transition: 0.5s;
}
.Attack-of-the-Clones:hover .title-movie {
  padding: 0 10px;
  padding-top: 30px;
}
.Attack-of-the-Clones:hover .background-color {
  width: 170px;
  height: 230px;
  transition: 0.5s;
}
.Attack-of-the-Clones:hover .description {
  font-size: 15px;
  font-family: "Edu SA Beginner", cursive;
  text-align: justify;
  padding: 2px 10px;
  transition: 0.7s;
  color: #00bfff;
}
.Revenge-of-the-Sith {
  display: inline-block;
  width: 150px;
  height: 150px;
  background-image: url(../image/2120936.jpg);
  background-position: center;
  background-size: cover;
  border-radius: 20px;
  margin-left: 60px;
  float: left;
  box-shadow: 0 0 30px rgb(0, 0, 0);
}
.Revenge-of-the-Sith:hover {
  height: 230px;
  width: 170px;
  transition: 0.5s;
}
.Revenge-of-the-Sith:hover .title-movie {
  padding: 0 10px;
  padding-top: 30px;
}
.Revenge-of-the-Sith:hover .background-color {
  width: 170px;
  height: 230px;
  transition: 0.5s;
}
.Revenge-of-the-Sith:hover .description {
  font-size: 15px;
  font-family: "Edu SA Beginner", cursive;
  text-align: justify;
  padding: 2px 10px;
  transition: 0.7s;
  color: #00bfff;
}
.The-Force-Awakens {
  display: inline-block;
  width: 150px;
  height: 150px;
  background-image: url(../image/1603213.jpg);
  background-position: center;
  background-size: cover;
  border-radius: 20px;
  margin-left: 60px;
  float: left;
  box-shadow: 0 0 30px rgb(0, 0, 0);
}
.The-Force-Awakens:hover {
  height: 230px;
  width: 170px;
  transition: 0.5s;
}
.The-Force-Awakens:hover .title-movie {
  padding: 0 10px;
  padding-top: 30px;
}
.The-Force-Awakens:hover .background-color {
  width: 170px;
  height: 230px;
  transition: 0.5s;
}
.The-Force-Awakens:hover .description {
  font-size: 15px;
  font-family: "Edu SA Beginner", cursive;
  text-align: justify;
  padding: 2px 10px;
  transition: 0.7s;
  color: #00bfff;
}
.Rogue-One {
  display: inline-block;
  width: 150px;
  height: 150px;
  background-image: url(../image/1471005.jpg);
  background-position: center;
  background-size: cover;
  border-radius: 20px;
  margin-left: 60px;
  float: left;
  box-shadow: 0 0 30px rgb(0, 0, 0);
}
.Rogue-One:hover {
  height: 230px;
  width: 170px;
  transition: 0.5s;
}
.Rogue-One:hover .title-movie {
  padding: 0 10px;
  padding-top: 30px;
}
.Rogue-One:hover .background-color {
  width: 170px;
  height: 230px;
  transition: 0.5s;
}
.Rogue-One:hover .description {
  font-size: 15px;
  font-family: "Edu SA Beginner", cursive;
  text-align: justify;
  padding: 10px 10px;
  transition: 0.7s;
  color: #00bfff;
}
.The-Last-Jedi {
  display: inline-block;
  width: 150px;
  height: 150px;
  background-image: url(../image/150193.jpg);
  background-position: center;
  background-size: cover;
  border-radius: 20px;
  margin-left: 60px;
  float: left;
  box-shadow: 0 0 30px rgb(0, 0, 0);
}
.The-Last-Jedi:hover {
  height: 230px;
  width: 170px;
  transition: 0.5s;
}
.The-Last-Jedi:hover .title-movie {
  padding: 0 10px;
  padding-top: 30px;
}
.The-Last-Jedi:hover .background-color {
  width: 170px;
  height: 230px;
  transition: 0.5s;
}
.The-Last-Jedi:hover .description {
  font-size: 15px;
  font-family: "Edu SA Beginner", cursive;
  text-align: justify;
  padding: 2px 10px;
  transition: 0.7s;
  color: #00bfff;
}
.The-Rise-of-Skywalker {
  display: inline-block;
  width: 150px;
  height: 150px;
  background-image: url(../image/2187612.png);
  background-position: center;
  background-size: cover;
  border-radius: 20px;
  margin-left: 60px;
  float: left;
  box-shadow: 0 0 30px rgb(0, 0, 0);
}
.The-Rise-of-Skywalker:hover {
  height: 230px;
  width: 170px;
  transition: 0.5s;
}
.The-Rise-of-Skywalker:hover .title-movie {
  padding: 0 10px;
  padding-top: 30px;
}
.The-Rise-of-Skywalker:hover .background-color {
  width: 170px;
  height: 230px;
  transition: 0.5s;
}
.The-Rise-of-Skywalker:hover .description {
  font-size: 15px;
  font-family: "Edu SA Beginner", cursive;
  text-align: justify;
  padding: 2px 10px;
  transition: 0.7s;
  color: #00bfff;
}
.section2 {
  background: url(../image/wallpaperflare.com_wallpaper\ 1.jpg);
  height: 100vh;
  background-position: center;
  background-size: cover;
}
